*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F8F7F4;
}

#page1{
    height: fit-content;
    width: 100%;
    /* background-color: rgb(205, 210, 158); */
}

#page1 nav{
    height: 6.5vw;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

#content{
    height: calc(100% - 7vw);
    width: 100%;
    /* background-color: crimson; */
    padding-top: 80px;
}

#nav-part1{
    width: 450px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part1 h4{
    font-size: 14px;
}

#nav-part2 button{
    padding: 16px 28px;
    border-radius: 30px;
    margin-left:20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
}

#nav-part2 button:nth-child(1){
    background-color: transparent;
    padding: 0 10px;
    color: black;
    font-weight: 600;
    border: transparent;
}

#nav-part2{
    width: 450px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav img{
    height: 62px;
    padding-bottom: 0.6vw;
}

#content-text{
    padding: 0 32px;
}

#content h3{
    background-color: #DAB9F1;
    padding: 5px 5px;
    width: fit-content;
    border-radius: 30px;
    padding: 10px 16px;
    font-size: 16px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-family: "Source Serif 4";
}

#content h1{
    font-size: 72px;
    font-weight: 500;
    max-width: 870px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 24px;
    font-family: "Source Serif 4";
    line-height: 76px;
}

#content h4{
    width: fit-content;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-family: "Mona Sans";
}

#content button{
    background-color: black;
    color: white;
    padding: 18px 28px;
    margin-top: 32px;
    border-radius: 35px;
    font-weight: 700;
    font-family: "Mona Sans";
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#bottom{
    height: fit-content;
    width: 100%;
    padding: 72px 0;
    /* background-color: red; */
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x:hidden ;
    gap: 32px;
}

.scroller{
    width: fit-content;
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 32px;
    animation: anime;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#bottom::-webkit-scrollbar{
    display: none;
}

.elem{
    display: inline-block;
    height: 340px;
    width: 273px;
    /* background-color: blue; */
    flex-shrink: 0;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.elem .text-bottom{
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* background-color: black; */
    padding: 16px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: flex-end;
    margin-bottom: 13px;
}

.text-bottom p{
  font-size: 13px;
  font-weight: 600;
}
.text-bottom div{
  margin-top: 13px;
}
.text-bottom span{
  padding: 6px 12px;
  border: 0.5px solid rgba(255, 255, 255, 0.345);
  font-size: 11px;
  border-radius: 20px;
  font-weight: 600;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    object-position: center;
}

#page2{
    height: fit-content;
    width: 100%;
    /* background-color: grey; */
    position: relative;
    padding: 0 4.6%;
}

#explore-content{
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 32px));
    }
}

#explore-heading{
    margin-top: 43px;
    margin-bottom: 48px;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}

.box{
    display: inline-block;
    height: 260px;
    width: 316px;
    max-width: 340px;
    background-color: red;
    border-radius: 11px;
    overflow: hidden;
    position: relative;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box-bottom{
    height: 30%;
    width: 100%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.618));
    position :absolute;
    bottom: -30%;
    transition: all ease 0.3s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.box-bottom h5{
    font-size: 19px;
    font-weight: 600;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-bottom i{
    background-color: #F8F7F4;
    color: black;
    padding: 11px 12px;
    border-radius: 50%;
}

.box:hover .box-bottom{
    bottom: 0;
}

#text-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.boxFooter{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4e4e4e;
    font-family: "Mona Sans";
    font-weight: 600;
}
.boxFooter img{
    width: 22px;
    border-radius: 50%;
}
.boxFooter i{
    font-size: 12px;
}
.boxFooter p{
    font-size: 14px;
    color: black;
}

#likes-views{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.likes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.likes h4{
    font-family: "Mona Sans";
    font-size: 13px;
}

.likes i{
    color: #9E9EA7;
}

#pro{
    background-color: #bfbcbc;
    color: white;
    font-size: 10px;
    padding: 3px;
    border-radius: 4px;
    font-weight: 600;
}

.boximg{
    height: fit-content;
}

#page2 button{
    padding: 18px 24px;
    border-radius: 40px;
    margin-top: 48px;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: "Gilroy";
    margin-bottom: 150px;
}

#button-inspire{
    display: flex;
    justify-content: center;
}

#page3{
    width: 100%;
    height: fit-content;
}

#marketing-sec{
    width: 100%;
    height: 700px;
    background-color: #FFDA79;
}

#marketing-content{
    padding: 120px 0;
}

#marketing-content h1{
    font-size: 64px;
    text-align: center;
    width: 680px;
    align-self: center;
    font-family: "Source Serif 4";
    font-weight: 500;
    line-height: 70px;
    text-align: center;
}

#market-content-align{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

#marketing-content h3{
    font-size: 20px;
    line-height: 36px;
    font-family: "Mona Sans";
    width: 600px;
    align-self: center;
    text-align: center;
}

#marketing-content-buttons{
    padding: 16px 0 24px;
    align-self: center;
}

#marketing-content-buttons button{
    padding: 19px 24px;
    background-color: black;
    color: white;
    border-radius: 35px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "Gilroy";
    transition: all ease 0.5s;
    cursor: pointer;
}

#marketing-content-buttons button:nth-child(2){
    background-color: white;
    color: black;
    margin-left: 12px;
}

#marketing-content-buttons button:hover{
    background-color: rgba(0, 0, 0, 0.712);
}

#marketing-content-buttons button:nth-child(2):hover{
    color: rgba(0, 0, 0, 0.652);
    background-color: white;
}

#join-dribble{
    /* display: flex; */
    align-self: center;
}

#join-dribble h3{
    display: inline-block;
    width: fit-content;
}

#join-dribble a{
    font-size: 21px;
    /* text-decoration: none; */
    color: black;

    font-family: "Gilroy";
    font-weight: 500;
}

#marquee-filters{
    height: 254px;
    width: 100%;
    background-color: #DAB9F1;
    padding-top: 60px;
}

#filter-anime{
    width: 100%;
    height: calc(254px - 60px);
    background-color: rgb(205, 139, 200);
}

.footerScroller{
    width: 100%;
    height: 254px;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    overflow: hidden;
    padding-top: 60px;
}
.wrapper{
    width:fit-content;
    height: calc(254px - 60px);
    display: flex;
    gap: 40px;
    flex-shrink: 0;
    animation-name: marquee;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes marquee {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(calc(-100% - 40px));
    }
}
.wrapperContainer{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.wrapperContainer img{
    width: 100%;
    height: 80%;
    border-radius: 7px;
    object-fit: cover;
    object-position: center;
}

.wrapperContainer h3{
    font-size: 14px;
    font-family: "Gilroy";
    font-weight: 600;
    color: #57575a;
}

footer{
    width: 1200px;
    height: fit-content;
    padding: 44px 0;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    gap: 88px;
}
.footer-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-part1 img{
    height: 62px;
    margin-top: -10px;
}

.footer-part1 .icons i{
    font-size: 20px;
}

.footer-part1 .icons{
    display: flex;
    gap: 14px;
}

.footer-part1 div{
    display: flex;
    gap: 2.4vw;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-part1 div a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: "Gilroy";
    font-weight: 600;
}

.footer-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-part2 div{
    display: flex;
    gap: 1.2vw;
    color: #828282;
}

.footer-part2 span{
    font-size: 14px;
}