*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: "Plain Light";
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
/* #0B0B0B */

#main{
    position: relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    padding-left: 2.2vw;
    padding-bottom: 2vw;
}

#line1-part1 h5,h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}

.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite ;
}

@keyframes anime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

#now{
    height: 6.6vw;
}

#wait{
    font-family: "plain light";
    font-size: 1vw;
    padding-top: 4vw;
    padding-left: 20vw;
    font-weight: 500;
}