*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'gilroy';
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}

#boxx{
    height: 300px;
    width: 300px;
    background-color: crimson;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: royalblue;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}